[alias]
    alias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort
	lo = log --graph --branches --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset'
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	co = checkout
    s  = status
	ss = status -s
	sh = show
    d  = diff
    ci = commit
    pr = pull -rebase
[user]
	name = Masatake Yamauchi
	email = m.yamauchi@churadata.okinawa
